/* line 1, ../../../WebApp Dashboard/scss/base/_base.scss */
body {
  box-sizing: border-box;
  font-family: "Mukta", sans-serif;
  font-family: "PT Sans", sans-serif;
}

/* line 7, ../../../WebApp Dashboard/scss/base/_base.scss */
.heading {
  height: 4.6rem;
  display: flex;
  justify-content: space-evenly;
  background-color: #7477bf;
}

/* =============== .chatrs=================== */
/* line 16, ../../../WebApp Dashboard/scss/base/_base.scss */
canvas {
  padding-bottom: 40px;
  border-bottom: solid 2px black;
}

/* ================ social ================ */
/* line 23, ../../../WebApp Dashboard/scss/base/_base.scss */
.fb,
.tw,
.inst {
  display: flex;
  justify-content: flex-start;
  border: solid 1px grey;
  border-radius: 3%;
  margin-bottom: 20px;
}

/* line 34, ../../../WebApp Dashboard/scss/base/_base.scss */
.members-div,
.recent-div {
  text-align: center;
  border-bottom: solid 1px rgba(182, 178, 178, 0.482);
  padding-bottom: 20px;
  margin-top: 20px;
  width: 100%;
  height: 165px;
}

/* line 44, ../../../WebApp Dashboard/scss/base/_base.scss */
.dashboard {
  display: flex;
  justify-content: space-between;
}

/* line 49, ../../../WebApp Dashboard/scss/base/_base.scss */
.tab {
  height: 70px;
  width: 100%;
  margin-bottom: 20px;
  margin-left: 40px;
  border-left: solid 2px grey;
  border-bottom: solid 2px grey;
}

/* line 1, ../../../WebApp Dashboard/scss/base/_typography.scss */
h1,
header h3 {
  color: white;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
  margin: auto;
}

/* line 8, ../../../WebApp Dashboard/scss/base/_typography.scss */
p {
  color: black;
}

/* line 11, ../../../WebApp Dashboard/scss/base/_typography.scss */
h2 {
  margin-left: 0.3rem;
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: 1.5px;
  color: #504f4f;
}

/* line 19, ../../../WebApp Dashboard/scss/base/_typography.scss */
.dashboard h2 {
  font-size: 1.8rem;
}

/* line 23, ../../../WebApp Dashboard/scss/base/_typography.scss */
.heading h1 {
  margin-left: 10px;
  margin-right: 20px;
  font-size: 1.3rem;
}

/* line 29, ../../../WebApp Dashboard/scss/base/_typography.scss */
.heading h3 {
  margin-right: 10px;
  margin-left: 0;
  font-size: 0.7rem;
}

/* line 36, ../../../WebApp Dashboard/scss/base/_typography.scss */
.social-text {
  text-align: left;
  margin: auto 0;
}

/* line 40, ../../../WebApp Dashboard/scss/base/_typography.scss */
.data {
  font-size: 50px;
  margin: 0 10px 0 0;
}

/* line 44, ../../../WebApp Dashboard/scss/base/_typography.scss */
.social-heading {
  color: #7477bf;
  font-size: 2em;
  margin: 0;
}

/* line 49, ../../../WebApp Dashboard/scss/base/_typography.scss */
.social-grid h3,
.members h3,
.recent h3,
form h3,
.settings h3 {
  color: black;
  font-weight: 700;
  margin-top: 20px;
  margin-left: 27px;
  letter-spacing: 1.5px;
}

/* line 60, ../../../WebApp Dashboard/scss/base/_typography.scss */
.members p,
.recent p {
  margin: 0;
}

/* line 65, ../../../WebApp Dashboard/scss/base/_typography.scss */
a {
  text-decoration: none;
}

/* line 68, ../../../WebApp Dashboard/scss/base/_typography.scss */
.recent p {
  width: 60%;
  margin-left: 20%;
}

/* line 72, ../../../WebApp Dashboard/scss/base/_typography.scss */
.settings p {
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  /* line 77, ../../../WebApp Dashboard/scss/base/_typography.scss */
  .data {
    font-size: 1.6em;
  }
  /* line 80, ../../../WebApp Dashboard/scss/base/_typography.scss */
  .heading h3 {
    font-size: 1rem;
  }
  /* line 83, ../../../WebApp Dashboard/scss/base/_typography.scss */
  .social-heading {
    font-size: 1em;
  }
  /* line 86, ../../../WebApp Dashboard/scss/base/_typography.scss */
  .recent p {
    width: 100%;
    margin-left: 0;
  }
  /* line 90, ../../../WebApp Dashboard/scss/base/_typography.scss */
  .settings p {
    font-size: 20px;
  }
}

@media screen and (min-width: 1024px) {
  /* line 96, ../../../WebApp Dashboard/scss/base/_typography.scss */
  .data {
    font-size: 3em;
  }
  /* line 99, ../../../WebApp Dashboard/scss/base/_typography.scss */
  .social-heading {
    font-size: 2em;
  }
}

/* line 1, ../../../WebApp Dashboard/scss/components/_buttons.scss */
button {
  text-align: center;
  margin: 20px auto;
  width: 90%;
  height: 70px;
  background-color: #7477bf;
  border-style: none;
  border-radius: 8px;
  color: white;
  font-size: 20px;
}

/* line 12, ../../../WebApp Dashboard/scss/components/_buttons.scss */
.button-disbled {
  margin-left: 20px;
  background-color: darkgrey;
}

/* line 16, ../../../WebApp Dashboard/scss/components/_buttons.scss */
.button-container {
  text-align: center;
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  width: 90%;
}

/* line 26, ../../../WebApp Dashboard/scss/components/_buttons.scss */
.toggle,
.toggle2 {
  position: relative;
}

/* line 31, ../../../WebApp Dashboard/scss/components/_buttons.scss */
.toggle input,
.toggle2 input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* line 39, ../../../WebApp Dashboard/scss/components/_buttons.scss */
.slider {
  position: relative;
  display: block;
  cursor: pointer;
  background-color: #625c5c;
  transition: 0.4s;
  width: 80px;
  height: 30px;
}

/* line 49, ../../../WebApp Dashboard/scss/components/_buttons.scss */
.slider:before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: #fff;
  transition: 0.4s;
  top: 5px;
  left: 6px;
}

/* line 60, ../../../WebApp Dashboard/scss/components/_buttons.scss */
input:checked + .slider {
  background-color: #7477bf;
  box-shadow: 0 0 12px #7477bf;
}

/* line 65, ../../../WebApp Dashboard/scss/components/_buttons.scss */
input:checked + .slider:before {
  transform: translateX(49px);
}

/* line 69, ../../../WebApp Dashboard/scss/components/_buttons.scss */
.slider.round {
  border-radius: 30px;
}

/* line 72, ../../../WebApp Dashboard/scss/components/_buttons.scss */
.slider.round::before {
  border-radius: 20px;
}

/* line 76, ../../../WebApp Dashboard/scss/components/_buttons.scss */
.btn-toggle {
  font-size: 20px;
  height: 70px;
  margin: 5px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 84, ../../../WebApp Dashboard/scss/components/_buttons.scss */
#on,
#on2 {
  color: white;
  z-index: 1;
  position: absolute;
  bottom: 2px;
  left: 8px;
  font-size: 20px;
}

/* line 94, ../../../WebApp Dashboard/scss/components/_buttons.scss */
#off,
#off2 {
  color: #fff7f7;
  position: absolute;
  font-size: 20px;
  z-index: 1;
  right: 8px;
  bottom: 2px;
}

@media screen and (min-width: 768px) {
  /* line 105, ../../../WebApp Dashboard/scss/components/_buttons.scss */
  .btn-toggle {
    width: 50%;
    margin: 20px 30px;
  }
  /* line 109, ../../../WebApp Dashboard/scss/components/_buttons.scss */
  .slider {
    position: relative;
    display: block;
    cursor: pointer;
    background-color: #625c5c;
    transition: 0.4s;
    width: 150px;
    height: 50px;
  }
  /* line 119, ../../../WebApp Dashboard/scss/components/_buttons.scss */
  .slider:before {
    content: "";
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: #fff;
    transition: 0.4s;
    top: 10px;
    left: 10px;
  }
  /* line 129, ../../../WebApp Dashboard/scss/components/_buttons.scss */
  #on,
  #on2 {
    color: white;
    z-index: 1;
    position: absolute;
    bottom: 8px;
    left: 14px;
    font-size: 30px;
  }
  /* line 138, ../../../WebApp Dashboard/scss/components/_buttons.scss */
  #off,
  #off2 {
    color: #fff7f7;
    position: absolute;
    font-size: 30px;
    z-index: 1;
    right: 14px;
    bottom: 8px;
  }
  /* line 147, ../../../WebApp Dashboard/scss/components/_buttons.scss */
  input:checked + .slider:before {
    transform: translateX(99px);
  }
}

@media screen and (min-width: 1024px) {
  /* line 152, ../../../WebApp Dashboard/scss/components/_buttons.scss */
  .btn-toggle {
    width: 87%;
  }
}

/* line 1, ../../../WebApp Dashboard/scss/components/_forms.scss */
form,
select {
  display: flex;
  flex-direction: column;
}

/* line 6, ../../../WebApp Dashboard/scss/components/_forms.scss */
input,
textarea {
  width: 90%;
  text-align: left;
  margin: 0 auto;
  border-color: #dad3d3;
  border-radius: 8px;
  font-size: 20px;
}

/* line 15, ../../../WebApp Dashboard/scss/components/_forms.scss */
input {
  height: 70px;
  margin-bottom: 20px;
}

/* line 19, ../../../WebApp Dashboard/scss/components/_forms.scss */
textarea {
  height: 200px;
}

/* line 22, ../../../WebApp Dashboard/scss/components/_forms.scss */
::placeholder {
  padding: 10px 10px;
}

/* line 26, ../../../WebApp Dashboard/scss/components/_forms.scss */
#timezone {
  height: 70px;
  width: 90%;
  margin: 55px auto 0;
  margin-bottom: 20px;
  font-size: 20px;
  padding: 20px;
}

/* line 1, ../../../WebApp Dashboard/scss/components/_grid.scss */
.grid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas: "header" "nav" "dashboard" "alert" "grid2" "social-grid" "grid3";
}

/* line 12, ../../../WebApp Dashboard/scss/components/_grid.scss */
.grid3 {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas: "members" "recent" "message" "settings";
}

/* line 20, ../../../WebApp Dashboard/scss/components/_grid.scss */
.s-mid {
  margin: 10px;
}

/* line 23, ../../../WebApp Dashboard/scss/components/_grid.scss */
.message-center {
  text-align: center;
}

/* line 26, ../../../WebApp Dashboard/scss/components/_grid.scss */
.message h3 {
  margin-left: 40px;
}

/* line 30, ../../../WebApp Dashboard/scss/components/_grid.scss */
.social-grid {
  border-bottom: solid 1px black;
}

/* line 34, ../../../WebApp Dashboard/scss/components/_grid.scss */
.recent a {
  display: none;
}

/* line 40, ../../../WebApp Dashboard/scss/components/_grid.scss */
header {
  grid-area: header;
}

/* line 43, ../../../WebApp Dashboard/scss/components/_grid.scss */
.dashboard {
  grid-area: dashboard;
}

/* line 46, ../../../WebApp Dashboard/scss/components/_grid.scss */
.alert {
  grid-area: alert;
}

/* line 49, ../../../WebApp Dashboard/scss/components/_grid.scss */
nav {
  grid-area: nav;
}

/* line 52, ../../../WebApp Dashboard/scss/components/_grid.scss */
.traffic {
  grid-area: traffic;
}

/* line 55, ../../../WebApp Dashboard/scss/components/_grid.scss */
.daily-traffic {
  grid-area: daily;
}

/* line 58, ../../../WebApp Dashboard/scss/components/_grid.scss */
.user {
  grid-area: user;
}

/* line 61, ../../../WebApp Dashboard/scss/components/_grid.scss */
.main-content {
  grid-area: main;
}

/* line 64, ../../../WebApp Dashboard/scss/components/_grid.scss */
.social-grid {
  grid-area: social-grid;
}

/* line 67, ../../../WebApp Dashboard/scss/components/_grid.scss */
.members {
  grid-area: members;
}

/* line 70, ../../../WebApp Dashboard/scss/components/_grid.scss */
.message {
  grid-area: message;
}

/* line 74, ../../../WebApp Dashboard/scss/components/_grid.scss */
.form-field {
  grid-area: form-field;
}

/* line 77, ../../../WebApp Dashboard/scss/components/_grid.scss */
.grid2 {
  grid-area: grid2;
}

/* line 80, ../../../WebApp Dashboard/scss/components/_grid.scss */
.grid3 {
  grid-area: grid3;
}

/* line 83, ../../../WebApp Dashboard/scss/components/_grid.scss */
.fb {
  grid-area: fb;
}

/* line 86, ../../../WebApp Dashboard/scss/components/_grid.scss */
.inst {
  grid-area: inst;
}

/* line 89, ../../../WebApp Dashboard/scss/components/_grid.scss */
.tw {
  grid-area: tw;
}

/* line 92, ../../../WebApp Dashboard/scss/components/_grid.scss */
.s-h3 {
  grid-area: s-h3;
}

/* line 95, ../../../WebApp Dashboard/scss/components/_grid.scss */
.recent {
  grid-area: recent;
}

/* line 98, ../../../WebApp Dashboard/scss/components/_grid.scss */
.settings {
  grid-area: settings;
}

@media screen and (min-width: 768px) {
  /* line 106, ../../../WebApp Dashboard/scss/components/_grid.scss */
  .grid {
    grid-template-columns: 8% 92%;
    grid-template-areas: "header header" "nav dashboard" "nav alert" "nav grid2" "nav social-grid" "nav grid3";
  }
  /* line 116, ../../../WebApp Dashboard/scss/components/_grid.scss */
  .grid2 {
    display: grid;
    padding-left: 10px;
    grid-template-columns: 50% 50%;
    grid-template-areas: "traffic traffic" "daily user";
  }
  /* line 124, ../../../WebApp Dashboard/scss/components/_grid.scss */
  .members-div,
  .memb-c,
  .recent-c {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 83px;
  }
  /* line 133, ../../../WebApp Dashboard/scss/components/_grid.scss */
  .members,
  .recent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 1;
    justify-content: flex-start;
  }
  /* line 138, ../../../WebApp Dashboard/scss/components/_grid.scss */
  .s-mid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-areas: "fb inst tw";
    grid-gap: 10px;
  }
  /* line 145, ../../../WebApp Dashboard/scss/components/_grid.scss */
  .memb-c,
  .recent-c {
    margin-right: auto;
    margin-left: 30px;
  }
  /* line 150, ../../../WebApp Dashboard/scss/components/_grid.scss */
  .date,
  img {
    margin-right: 40px;
  }
  /* line 155, ../../../WebApp Dashboard/scss/components/_grid.scss */
  .recent-c p {
    text-align: left;
  }
  /* line 158, ../../../WebApp Dashboard/scss/components/_grid.scss */
  .recent a {
    color: black;
    text-decoration: none;
    margin-right: 20px;
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  /* line 167, ../../../WebApp Dashboard/scss/components/_grid.scss */
  .grid3 {
    grid-template-columns: 50% 50%;
    grid-template-areas: "members recent" "message settings";
  }
  /* line 173, ../../../WebApp Dashboard/scss/components/_grid.scss */
  .members,
  .recent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 1;
    border-right: solid 2px #a8a6a6;
    padding-right: 20px;
  }
}

/* line 1, ../../../WebApp Dashboard/scss/components/_images.scss */
.members img,
.recent img {
  border-radius: 50%;
  width: 80px;
}

/* line 6, ../../../WebApp Dashboard/scss/components/_images.scss */
.heading img {
  margin: auto 0.5rem;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  margin-left: 20px;
}

/* line 16, ../../../WebApp Dashboard/scss/components/_images.scss */
.social-image {
  height: 100px;
  width: 100px;
  background-color: #7477bf;
  border-radius: 50%;
  padding: 20px;
  margin: 20px 20px;
}

/* line 26, ../../../WebApp Dashboard/scss/components/_images.scss */
.bell {
  width: 20px;
  height: 40px;
  fill: white;
  margin: auto;
  margin-right: 0;
  padding-right: 0.7rem;
  border-right: solid 1px rgba(230, 227, 227, 0.461);
}

/* line 35, ../../../WebApp Dashboard/scss/components/_images.scss */
.bell:hover {
  transform: scale(1.6) rotate(-360deg);
  border-right-color: #7476bf00;
  transition: 0.5s ease-in;
}

/* line 41, ../../../WebApp Dashboard/scss/components/_images.scss */
.nav-svg {
  width: 35px;
  height: 40px;
  fill: white;
}

/* line 46, ../../../WebApp Dashboard/scss/components/_images.scss */
.social-image {
  width: 40px;
  height: 40px;
}

/* line 50, ../../../WebApp Dashboard/scss/components/_images.scss */
.fb-logo,
.tw-logo,
.inst-logo {
  fill: white;
}

@media screen and (min-width: 678px) {
  /* line 56, ../../../WebApp Dashboard/scss/components/_images.scss */
  .heading img {
    width: 3rem;
    height: 3rem;
  }
}

/* line 1, ../../../WebApp Dashboard/scss/components/_nav.scss */
.notifications {
  display: none;
}

/* line 5, ../../../WebApp Dashboard/scss/components/_nav.scss */
.nav {
  background-color: #363b64;
  text-align: center;
}

/* line 9, ../../../WebApp Dashboard/scss/components/_nav.scss */
.nav-svg {
  margin: 15px 6%;
}

/* ?=============== alert=========== */
/* line 14, ../../../WebApp Dashboard/scss/components/_nav.scss */
.alert-banner {
  color: white;
  display: flex;
  justify-content: space-between;
  background-color: #7477bf;
  margin: 0 10px;
  padding: 0 20px;
  border-radius: 5px 5px;
}

/* line 23, ../../../WebApp Dashboard/scss/components/_nav.scss */
.alert-banner-close:hover {
  color: #da4747;
  cursor: pointer;
}

/* =========== line chart links ============= */
/* line 29, ../../../WebApp Dashboard/scss/components/_nav.scss */
ul {
  display: flex;
  justify-content: space-around;
  padding-left: 0;
  margin: 10px 5vw;
}

/* line 35, ../../../WebApp Dashboard/scss/components/_nav.scss */
li {
  list-style-type: none;
}

/* line 39, ../../../WebApp Dashboard/scss/components/_nav.scss */
ul a {
  text-decoration: none;
  padding: 10px 15px;
}

/* line 44, ../../../WebApp Dashboard/scss/components/_nav.scss */
ul a:first-child:hover {
  border-radius: 33%;
}

@media screen and (min-width: 768px) {
  /* line 49, ../../../WebApp Dashboard/scss/components/_nav.scss */
  .nav {
    height: 100%;
    max-width: 70px;
  }
  /* line 53, ../../../WebApp Dashboard/scss/components/_nav.scss */
  ul {
    justify-content: flex-end;
  }
}

/*# sourceMappingURL=styles.css.map */