form,
select {
  display: flex;
  flex-direction: column;
}
input,
textarea {
  width: 90%;
  text-align: left;
  margin: 0 auto;
  border-color: rgb(218, 211, 211);
  border-radius: 8px;
  font-size: 20px;
}
input {
  height: 70px;
  margin-bottom: 20px;
}
textarea {
  height: 200px;
}
::placeholder {
  padding: 10px 10px;
}

#timezone {
  height: 70px;
  width: 90%;
  margin: 55px auto 0;
  margin-bottom: 20px;
  font-size: 20px;
  padding: 20px;
}
