.grid {
  @include d-grid;
  grid-template-areas:
    "header"
    "nav"
    "dashboard"
    "alert"
    "grid2"
    "social-grid"
    "grid3";
}
.grid3 {
  @include d-grid;
  grid-template-areas:
    "members"
    "recent"
    "message"
    "settings";
}
.s-mid {
  margin: 10px;
}
.message {
  text-align: center;
}
.social-grid {
  border-bottom: solid 1px black;
}

.recent a {
  display: none;
}

// /* ========== grid areas ============= */

header {
  grid-area: header;
}
.dashboard {
  grid-area: dashboard;
}
.alert {
  grid-area: alert;
}
nav {
  grid-area: nav;
}
.traffic {
  grid-area: traffic;
}
.daily-traffic {
  grid-area: daily;
}
.user {
  grid-area: user;
}
.main-content {
  grid-area: main;
}
.social-grid {
  grid-area: social-grid;
}
.members {
  grid-area: members;
}
.message {
  grid-area: message;
}

.form-field {
  grid-area: form-field;
}
.grid2 {
  grid-area: grid2;
}
.grid3 {
  grid-area: grid3;
}
.fb {
  grid-area: fb;
}
.inst {
  grid-area: inst;
}
.tw {
  grid-area: tw;
}
.s-h3 {
  grid-area: s-h3;
}
.recent {
  grid-area: recent;
}
.settings {
  grid-area: settings;
}

// /* ================= media ========== */
// /* ================================================= */

@media screen and (min-width: 768px) {
  .grid {
    grid-template-columns: 8% 92%;
    grid-template-areas:
      "header header"
      "nav dashboard"
      "nav alert"
      "nav grid2"
      "nav social-grid"
      "nav grid3";
  }
  .grid2 {
    display: grid;
    padding-left: 10px;
    grid-template-columns: 50% 50%;
    grid-template-areas:
      "traffic traffic"
      "daily user";
  }
  .members-div,
  .memb-c,
  .recent-c {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 83px;
  }

  .members,
  .recent {
    @include d-flex;
    justify-content: flex-start;
  }
  .s-mid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-areas: "fb inst tw";
    grid-gap: 10px;
  }

  .memb-c,
  .recent-c {
    margin-right: auto;
    margin-left: 30px;
  }
  .date,
  img {
    margin-right: 40px;
  }

  .recent-c p {
    text-align: left;
  }
  .recent a {
    color: black;
    text-decoration: none;
    margin-right: 20px;
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .grid3 {
    grid-template-columns: 50% 50%;
    grid-template-areas:
      "members recent"
      "message settings";
  }
  .members,
  .recent {
    @include d-flex;
    border-right: solid 2px rgb(168, 166, 166);
    padding-right: 20px;
  }
}
