.members img,
.recent img {
  border-radius: 50%;
  width: 80px;
}
.heading img {
  margin: auto 0.5rem;
  border-radius: 50%;
  width: 3rem;
  height: 3em;
  margin-left: 20px;
}

// /* ================ social ================ */

.social-image {
  height: 100px;
  width: 100px;
  background-color: #7477bf;
  border-radius: 50%;
  padding: 20px;
  margin: 20px 20px;
}
// ============= svg ==========

.bell {
  width: 20px;
  height: 40px;
  fill: white;
  margin: auto;
  margin-right: 0;
  padding-right: 0.7rem;
  border-right: solid 1px rgba(230, 227, 227, 0.461);
}
.bell:hover {
  transform: scale(1.6) rotate(-360deg);
  border-right-color: #7476bf00;
  transition: 0.5s ease-in;
}

.nav-svg {
  width: 35px;
  height: 40px;
  fill: white;
}
.social-image {
  width: 40px;
  height: 40px;
}
.fb-logo,
.tw-logo,
.inst-logo {
  fill: white;
}
