.notifications {
  display: none;
}

.nav {
  background-color: #363b64;
  text-align: center;
}
.nav-svg {
  margin: 15px 6%;
}
/* ?=============== alert=========== */

.alert-banner {
  color: white;
  display: flex;
  justify-content: space-between;
  background-color: #7477bf;
  margin: 0 10px;
  padding: 0 20px;
  border-radius: 5px 5px;
}
.alert-banner-close:hover {
  color: #da4747;
  cursor: pointer;
}
/* =========== line chart links ============= */

ul {
  display: flex;
  justify-content: space-around;
  padding-left: 0;
  margin: 10px 5vw;
}
li {
  list-style-type: none;
}

ul a {
  text-decoration: none;
  padding: 10px 15px;
}

ul a:first-child:hover {
  border-radius: 33%;
}

@media screen and (min-width: 768px) {
  .nav {
    height: 100%;
    max-width: 70px;
  }
  ul {
    justify-content: flex-end;
  }
}
