body {
  box-sizing: border-box;
  font-family: "Mukta", sans-serif;
  font-family: "PT Sans", sans-serif;
}

.heading {
  height: 4.6rem;
  display: flex;
  justify-content: space-evenly;
  background-color: #7477bf;
}

/* =============== .chatrs=================== */

canvas {
  padding-bottom: 40px;
  border-bottom: solid 2px black;
}

/* ================ social ================ */

.fb,
.tw,
.inst {
  display: flex;
  justify-content: flex-start;
  border: solid 1px grey;
  border-radius: 3%;
  margin-bottom: 20px;
}

// /* ============= members ================= */
.members-div,
.recent-div {
  text-align: center;
  border-bottom: solid 1px rgba(182, 178, 178, 0.482);
  padding-bottom: 20px;
  margin-top: 20px;
  width: 100%;
  height: 165px;
}

.dashboard {
  display: flex;
  justify-content: space-between;
}

.tab {
  height: 70px;
  width: 100%;
  margin-bottom: 20px;
  margin-left: 40px;

  border-left: solid 2px grey;
  border-bottom: solid 2px grey;
}
