h1,
header h3 {
  color: white;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
  margin: auto;
}
p {
  color: black;
}
h2 {
  margin-left: 0.3rem;
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: 1.5px;
  color: rgb(80, 79, 79);
}
.dashboard h2 {
  font-size: 1.8rem;
}

.heading h1 {
  margin-left: 10px;
  margin-right: 20px;
  font-size: 1.3rem;
}

.heading h3 {
  margin-right: 10px;
  margin-left: 0;
  font-size: 0.7rem;
}

// /* ================ social ================ */
.social-text {
  text-align: left;
  margin: auto 0;
}
.data {
  font-size: 50px;
  margin: 0 10px 0 0;
}
.social-heading {
  color: #7477bf;
  font-size: 2em;
  margin: 0;
}
.social-grid h3,
.members h3,
.recent h3,
form h3,
.settings h3 {
  color: black;
  font-weight: 700;
  margin-top: 20px;
  margin-left: 27px;
  letter-spacing: 1.5px;
}
.members p,
.recent p {
  margin: 0;
}

a {
  text-decoration: none;
}
.recent p {
  width: 60%;
  margin-left: 20%;
}
.settings p {
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .data {
    font-size: 1.6em;
  }
  .heading h3 {
    font-size: 1rem;
  }
  .social-heading {
    font-size: 1em;
  }
  .recent p {
    width: 100%;
    margin-left: 0;
  }
  .settings p {
    font-size: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .data {
    font-size: 3em;
  }
  .social-heading {
    font-size: 2em;
  }
}
